# gitignore template for Drupal 10 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/sites/*/*settings*.php
/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
#web/sites/*/files
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
web/sites/*/files-private
web/profiles/README.txt
web/robots.txt
web/sites/README.txt
web/sites/default/default.services (copy).yml
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/default/settings.php
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/update.php
web/web.config
web/modules/contrib/*
web/core/yarn.lock
web/example.gitignore
web/index.php
web/modules/README.txt
web/core/*
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.gitignore
web/.ht.router.php
web/.htaccess
web/INSTALL.txt
web/README.md
web/modules/custom.zip

# Ignore paths that may contain temporary files
/sites/*/translations
/sites/*/tmp
/sites/*/cache

# Ignore testing related files
/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/core
/modules/README.txt
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
/sites/example.settings.local.php
/sites/development.services.yml
/themes/README.txt
/vendor
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/autoload.php
/example.gitignore
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config

web/themes/README.txt
web/themes/custom/yes_pet_app/js/dist_dev
web/themes/custom/yes_pet_app/node_modules

node_modules
.ht.router.php
INSTALL.txt
modules/contrib/*
web/sites/default/files/css/
web/sites/default/files/js/
web/sites/default/files/php/
web/sites/default/files/.htaccess



