:root {
  --dark-color: #000;
  --white-color: #fff;
  --ligh-shadow: #00000026;
}

body {
  margin: 0 auto;
}

#block-dc-powered,
#block-dc-syndicate,
#block-dc-site-branding,
.search-block-form,
#block-dc-main-menu,
#block-dc-account-menu,
.path-home #block-dc-page-title {
  display: none;
}

.path-home .homepage {
  max-width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 1171px) {
  .path-home .homepage {
    max-width: 35%;
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  .path-home .homepage {
    max-width: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 567px) {
  .path-home .homepage {
    max-width: 95%;
  }
}

.home__title {
  text-align: center;
}

#block-dc-breadcrumbs ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-dc-breadcrumbs ol li {
  display: inline;
  margin-right: 10px;
}

#block-dc-breadcrumbs ol li a {
  font-size: 18px;
  text-decoration: unset;
}

#block-dc-breadcrumbs ol li a:hover {
  color: var(--dark-color);
}

.carousel-root {
  border: 1.5rem solid var(--white-color);
  border-bottom: unset;
  box-shadow: 0.1rem 0 0.5rem var(--ligh-shadow);
  border-radius: 1rem 1rem 0 0;
}

.homepage .carousel .slide .legend {
 
  opacity: 1;
  font-size: 14px;
  background: var(--white-color);
  color: var(--dark-color);
  transition: all ease 0.5s;
}

.homepage .carousel .slide .legend:hover {
  background: var(--dark-color);
  color: var(--white-color);
}

.homepage .carousel .control-dots .dot {
  background: var(--dark-color);
}

.homepage .carousel .slide img {
  border-radius: 1rem 1rem 0 0;
}


/* Style to detailed page - Node */

.page-node-type-spotify #block-dc-content {
  max-width: 640px; /* image max size */
  margin: 0 auto;
}

.path-artists #block-dc-content {
  max-width: 1170px;
  margin: 0 auto;
}

.spotify-full-content,
.spotify-full-content div,
.details__spotify__image img {
  width: 100%;
}

.details__spotify__image img {
  height: 200px;
  object-fit: cover;
}

.page-node-type-spotify .info {
  display: flex;
  justify-content: space-between;
  gap: 1rem
}

.page-node-type-spotify .info,
.page-node-type-spotify .spotify__info {
  text-align: center;
  padding: 0.5rem 0;
}

.page-node-type-spotify .title,
.page-node-type-spotify .spotify__info,
.details__spotify__card {
  box-shadow: 0.1rem 0 0.5rem var(--ligh-shadow);
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform ease 0.2s;
}

.page-node-type-spotify .title:hover,
.page-node-type-spotify .spotify__info:hover,
.details__spotify__card:hover {
  transition: transform ease 0.2s;
  transform: scale(1.01);
}

.details__spotify__card {
  margin-bottom: 1rem;
  width: 220px;
}

.spotify__card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 2rem;
  box-shadow: 0.1rem 0 0.5rem var(--ligh-shadow);
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.artistspage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.page-node-type-spotify .spotify__info {
  text-transform: capitalize;
}

.spotify-full-content .info:last-child {
  padding-bottom: 10rem;
}

.spotify-full-content img {
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0 0.5rem var(--ligh-shadow);
}

#block-dc-page-title {
  text-align: center;
}

.path-artists #block-dc-page-title,
.page-node-type-spotify #block-dc-breadcrumbs,
.path-home .carousel .control-dots,
.path-home .carousel-status {
  display: none;
}

.node__back {
  padding: 1rem 0;
}

.node__back a {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  text-decoration: unset;
  background: var(--dark-color);
  color: var(--white-color);
  font-weight: 800;
  transition: transform ease 0.5s;
}

.node__back a:hover {
  transform: scale(1.01);
  transition: transform ease 0.5s;
}
